.product-row-container {
  width: 80%;
}

.product-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.product-row-full-title {
  text-align: left;
  display: flex;
  align-items: baseline;
}

.product-row-number {
  font-family: "Raleway";
  font-size: 85px;
}

.product-row-prodname {
  font-family: "Raleway";
  font-size: 60px;
}

.product-row-justification {
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 500;
}

.product-container {
  gap: 30px;
}
