.product-row-container {
  width: 80%;
  margin-top: 40px;
}

.product-container {
  /* display: flex; */
  flex-direction: row;
  width: 98%;
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.product-row-title {
  text-align: left;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 20px;
}

.product-row-prodname {
  font-family: "Raleway";
  font-size: 50px;
  display: flex;
  flex-direction: column;
}

.product-row-justification {
  font-family: "Raleway";
  font-size: 30px;
}

.product-container {
  gap: 30px;
}
