.form-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-box {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  resize: none;
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
  font-family: "Raleway";
  font-size: 30px;
  outline: none;
  border-color: rgb(212, 212, 212);
  font-style: italic;
}

.search-box:hover {
  cursor: text;
}

.submit-button {
  width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
